* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #e78284;
  --maroon: #ea999c;
  --peach: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8caaee;
  --lavender: #babbf1;
  --text: #c6d0f5;
  --subtext-1: #b5bfe2;
  --subtext-0: #a5adce;
  --overlay-2: #949cbb;
  --overlay-1: #838ba7;
  --overlay-0: #737994;
  --surface-2: #626880;
  --surface-1: #51576d;
  --surface-0: #414559;
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634;
}

body {
  background-color: var(--base);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  .parts {
    display: grid;
    justify-content: flex-start;
    width: fit-content;
    gap: 10px;
    transition:
      gap 0.5s,
      border-width 0.5s;
    [class^="part-"] {
      background-color: var(--sky);
      border: 1px solid var(--text);
      background-image: url(../assets/background.jpg);
    }
    .empty {
      background: transparent;
      border: none;
    }
  }

  .controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .arrow {
      background-color: var(--yellow);
      max-width: 80px;
      max-height: 80px;
      border-radius: 10px;
      border: solid 4px #111;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: hsl(40 62% 80% / 100%);
      }
      img {
        width: 100%;
      }
    }
    .up {
      img {
        transform: rotate(-90deg);
      }
      & + div {
        display: flex;
        gap: 5px;
      }
    }
    .left {
      transform: rotate(180deg);
    }
    .down {
      transform: rotate(90deg);
    }
  }
}
